
    .postcontainer 
    {
						margin-bottom: 20px;
						margin-right: 50px;
    }
    .reply
    {
				padding-right: 100px;
				margin-bottom: 10px;
    }
		.reply-div
		{
			 padding-left: 80px;
		}
