body {
    background: #000 url(../img/background.jpg) repeat-x top left;
}

#main {
    width: 876px;
    position: absolute;
    left: 50%;
    margin-left: -439px;
    /*margin-left: auto;
    margin-right: auto;*/
     
}

#mainbody 
{
    
    background: url(../img/mainback.png) repeat-y top center;
    width: 876px;
    position: relative;
    padding-bottom: 8px;
    display: block;
}

#bodycontent
{
    padding-left: 50px;
    padding-right: 50px;
}

#slider 
{
    margin-left: 120px;
}

#sbicon
{
    position: fixed;
    width: 34px;
    height: 130px;
    right: 0px;
    top: 50%;
    margin-top: -80px;
    z-index: 10;
}

#sbcontent
{
    background:url(../img/cb_back.png) no-repeat;
    position:fixed;
    right: -305px;
    width: 300px;
    height: 600px;
    border: 2px solid #fff;
    z-index: 9;
    top: 50%;
    margin-top: -300px;
}

#chatboxinput 
{
    position: absolute;
    bottom: 0px;
    height: 100px;
    width: 100%;
}

#chatbox 
{
    margin-left: 20px;
    margin-top: 18px;
    width: 259px;
    height: 478px;
    overflow: scroll;
    overflow-x: hidden;
}

#inputthis 
{
    resize: none;
    margin-left: 18px;
    margin-top: 16px;
    color: #000;
    background-color: transparent;
    font-weight: bold;
    font-size: 1em;
    width: 250px;
    overflow: hidden;
    border: none;
}

#chatbox h6
{
    color: #24336b;
}
