@{
    ViewBag.Title = "Forums";
    Html.Assets().Scripts.Add("/Scripts/ForumFunctions.js");
}

<h2>Guild Site Framework Forums</h2>

<!--
<section id="tabs">
    <div class="pull-right hide span12" id="writerBox">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#search" data-toggle="tab"><i class="icon-search"></i>Filter</a></li>
            <li><a href="#write" data-toggle="tab"><i class="icon-pencil"></i>Compose</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" data-target="search" id="search">
                <div class="input-prepend"><span class="add-on"><i class="icon-search"></i></span><input class="span2" id="tagsearch" type="text" /></div>
            </div>
            <div class="tab-pane" id="write" data-target="write">
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label">Title:</label> 
                    <div class="controls">
                        <div class="input-prepend"><span class="add-on"><i class="icon-edit"></i></span>
                            <input type="text" class="span3" name="postTitle" style="width: 390px;"/>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">PostBody:</label> 
                    <div class="controls">
                        <textarea name="postBody" style="width: 420px; height: 200px;"></textarea>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</section>
-->
<div class="span8" id="datastream"> 

</div>

 
 <!-- Template for the MOdal Dialogue - will dyanically update for proper display when called -->
    <div class="modal hide fade in" id="DeleteModal">
						<div class="modal-header">
										<a class="close" data-dismiss="modal">&times;</a>
										<h3>Confirm Delete</h3>
						</div>
        <div class="modal-body"><p>Are you sure you want to delete this post?</p></div>
    
		<div class="modal-footer">
						<a href="#" class="btn btn-danger">Delete Post</a>
						<a href="#" class="btn" onClick=" $('#DeleteModal').modal('toggle') ">Close</a>
		</div>
 </div>

 <script>
 	$(document).ready(function() {
	  $('#DeleteModal').modal({ backdrop: false, keyboard: false, show: false });
	}
</script>

<!-- I dont like to do this - but I need to - drop the script in the middle of page to provide all page functions -->
<style type="text/css">
    .postcontainer 
    {
        margin-bottom: 20px;
    }
    .reply
    {
        margin-bottom: 10px;
    }

</style>


